/* Подключение шрифта Poppins из Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

/* Сброс стандартных стилей браузера */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #098;
}

.flex {
  display: flex;
  align-items: center;
}
container {
  background-color: red;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.navbar {
  justify-content: space-between;
}


.nav-links {
  gap: 20px;
  list-style: none;

}

.navbar a {
  padding: 20px 0;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.9s;
}


.navbar a:hover {
  color: #ddd;
}